Syslog RFC5424 parser fails with valid structured-data field containing backslashes

The `syslog` processor fails processing RFC5424 messages with backslashes inside the `structured-data` field:

```
<14>1 2025-04-15T23:19:09+02:00 dl-nas01 WinFileService - - [synolog@6574 param="workgroup\\user" event="read"][meta sequenceId="10"] Event: read, Prueba eedugon
```

On that example:
- `\` is escaped as `\\` (which is what the RFC mandates)
- The parameter is quoted correctly
- The structured-data block is well-formed

The previous message ends up without structured data being parsed (`log.syslog.structured_data` empty), the `message` field containing the entire raw content and not only the MSG part, and the doc in Elasticsearch including:

>    "error.message": "syslog failed to process field \"message\": parsing error at position 92: unexpected EOF"

The `position` of the error always point to the `\\` part of the original line.

According to [RFC 5424 section 6.3.3](https://datatracker.ietf.org/doc/html/rfc5424#section-6.3.3), only the characters `"` (double quote), `]` (closing bracket), and `\` (backslash) **must be escaped** within a structured-data parameter value:

> Inside PARAM-VALUE, the characters '"' (ABNF %d34), '\' (ABNF %d92),
   and ']' (ABNF %d93) MUST be escaped

With that in mind I believe the message I was using should be parsed correctly and it's a **RFC-compliant**  message. If I remove the entire `\\` the message is parsed correctly.

Notes and other failing use cases:
- A single backslash also fails `\`
- Other special characters like `-`, `_`, or `$` work perfectly fine as param values.
- A single backslash in the message part (not in structured data) also works well (backslashes don't need to be escaped in that section based on the RFC).

Tested with Elastic Agent and:
- Custom Log input with the `syslog` processor.
- Custom UDP logs with the `syslog` option selected.

Note that I haven't checked the `filestream` input with syslog parser.
 
- Version: 8.17.4
- Operating System: Debian 12
- Steps to Reproduce: 

  - Configure a log input with `syslog` processor, and point it to a file containing the provided example message.


PS - I've been taking a look at [this](https://github.com/elastic/beats/blob/9190f776f5fb612a880cb013a9eec8a49fe17afd/filebeat/input/syslog/parser/syslog_rfc5424.rl) and I don't see any obvious issue there.