Syslog input should correctly parses the timezone from rfc3339 timestamp

Currently the Syslog parser assumes that events are generated in the same timezone, which might not be the case for every events or even host.

In BSD old style events, the timestamp ommits the timezone, we should provide an option to the  input to set which timezone we should have.

In the newer* RFC5425 (or RFC3164 with RFC3339 timestamp) The timezone is a part of the string, so we should use that instead. 

Quick search:
- We will need include additionnal data about timezone using https://github.com/leighmcculloch/go-tz
- We will need a api shim in place to make it work under 1.9.10, since the previous library uses 1.10 APIs.