bug when space in url

When I get a request with space in url like this:
"http://a.example.com/index?id=1 asd"
The packetbeat can't work normally.
This is a Bug When parse http protocol.

I'm not sure if this is actually a bug. Currently the code parses the request-line by whitespace which is the correct way to do it (as described in the HTTP RFC 7230 [section 3.1.1](https://tools.ietf.org/html/rfc7230#section-3.1.1)).

In the [code](https://github.com/elastic/beats/blob/master/packetbeat/protos/http/http_parser.go#L164), if it is unable to parse the request-line, then it stops parsing the request.

This may be a bug in the client you are using that is sending the HTTP request and not correctly encoding the URL.

> Recipients typically parse the request-line into its component parts
   by splitting on whitespace (see Section 3.5), since no whitespace is
   allowed in the three components.  Unfortunately, some user agents
   fail to properly encode or exclude whitespace found in hypertext
   references, resulting in those disallowed characters being sent in a
   request-target.

> ... A recipient SHOULD NOT attempt
   to autocorrect and then process the request without a redirect, since
   the invalid request-line might be deliberately crafted to bypass
   security filters along the request chain.


Cheers!

The packetbeat is used to monitoring flow .When a hacker attemp to attack us using a deformed payload which maybe inculde a space.And in this case,packetbeat will dorp the packet ,so the hacker will Bypass monitoring。

Fixing the code to parse the URI with space doesn't look too complicated, what worries me is how the parameters parsing will behave in this case since we don't have the space url encoded.