Filebeat module timestamp parses seconds as minutes

Version: 7.6.2
Operating System: Linux
Steps to Reproduce:
Module configuration:

```yaml
filebeat:
  inputs:
    - type: container
      paths:
        - '/var/lib/docker/containers/*/*.log'
      format: auto
      fields_under_root: true

      json:
        ignore_decoding_error: true
        keys_under_root: true
        add_error_key: false

      tags:
        - docker

      processors:
        - add_docker_metadata:
            host: "unix:///var/run/docker.sock"
            labels.dedot: false

        - drop_event:
            when:
              contains:
                container.image.name: filebeat

        # https://godoc.org/time#pkg-constants
        - timestamp:
            field: timestamp
            ignore_missing: true
            layouts:
              - "02/Jan/2006:15:04:04 -0700"
              - RubyDate
              - RFC850
              - RFC1123
              - RFC1123Z
              - RFC3339
              - RFC3339Nano
            when:
              has_fields: [ timestamp ]

        - drop_fields:
            ignore_missing: true
            fields:
              - log
              - ecs.version
              - agent.type
              - agent.ephemeral_id
              - agent.hostname
              - agent.id
              - agent.version
              - timestamp
```

Log has field timestamp:
```json
"timestamp": "24/Mar/2020:15:21:10 +0000",
```

But it's parsed as:
```json
"@timestamp": "2020-03-24T15:10:00.000Z"
```

Hi @undying, thanks for creating this. But we would kindly ask you to post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can reopen this issue or open a new one with more details. Thanks in advance!